* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: 'Ibm Plex Mono';
    font-size: 15px;
    line-height: 25px;
}

.formspot {
    position: absolute;
    top: 100px;
    left: 400px;
    background-color: pink;
}

body {
    height: 100%;   
    overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
    margin: 0px;  /*removes default style*/
    display: flex;  /*enables flex content for its children*/
    box-sizing: border-box;
    background-color: lightgrey;
}

.column {
    height: 100%;  /*allows both columns to span the full height of the browser window*/
    display: flex;
    flex-direction: column;  /*places the left and right headers above the bottom content*/
    background-color: white;
}

#left {
    width: 30%;  /*makes sure that content is not cut off in a smaller browser window*/
    border-right: 1px dashed black;
    
}
#right {
    background-color: white;
}

.keys{
    flex-direction: column;
    
}

#e{
    border-radius: 5px;
    font-size: 10px;
    line-height: 12px;
    padding: 5px;
    background-color: rgb(255, 199, 80);
}
#s{
    border-radius: 5px;
    font-size: 10px;
    line-height: 12px;
    padding: 5px;
    background-color: rgb(255, 140, 80);
}
#p{
    border-radius: 5px;
    font-size: 10px;
    line-height: 12px;
    padding: 5px;
    background-color: rgb(255, 29, 52);
}
#r{
    border-radius: 5px;
    font-size: 10px;
    line-height: 12px;
    padding: 5px;
    background-color: rgb(92, 218, 204);
}
#t{
    border-radius: 5px;
    font-size: 10px;
    line-height: 12px;
    padding: 5px;
    background-color: rgb(0, 128, 142);
}


.int{
    padding-top: 20px;
    padding-bottom: 30px;
    width: 50%;
    max-width: 500px;
    border-bottom: 5px solid rgb(92, 218, 204); 
    
}

.top-left {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    flex-shink: 0;
    background-color: black;
    color: rgb(92, 218, 204);
    padding: 10px 10px 10px 10px ;
}

.top-right {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    flex-shrink: 0;
    display: inline-flex;
    color: rgb(92, 218, 204);
    background-color: black;
    padding: 10px 10px 10px 30px;
}

.bottom {
    padding: 30px;
    flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
    overflow-y: auto;  /*adds scroll to this container*/
}

.title{
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 30px 0px;
    border-bottom: 1px solid rgb(92, 218, 204);
}

svg.box{
    margin-top: 20px;
}